[alias]
 # adis Discard changes for sepcified file
	adis = checkout --
 # alist, alias config list commands
	alist = "!git config --list"
	alias = "!git config --list | findstr 'alias'"
 # amc amend last commit
	amc = commit --amend -m
	ast = status --short --branch --show-stash
	ast1 = status --porcelain --branch --show-stash
 # astt status, no untracked files (which takes more time)
	astt = status --porcelain --branch --show-stash -uno
	acm = commit --all --branch -m
	acma = commit -m
 # acme commit without a message on the command line (will use editor)
	acme = commit --all --branch
	aco = checkout
	co = checkout
	abr = branch
	br = branch
 # acp add, commit param 1, push
	acp = "!echo --- git add ---;git add .;echo --- git commit ---;git commit -m \"$1\";echo --- git push ---;git push;echo --- Message used: "
 # amto merge to param 1 branch
	amto = "!git checkout $1;git merge @{-1}" # Param is branch to merge to (develop or master)
	amtos = "!git checkout $1;git merge --squash @{-1}" # Param is branch to merge to (develop or master)
 # am merge --no-ff no fast forward, creates a commit
	am = merge --no-ff
 # amf merge -ff-only only run if fast forward can be used
	amf = merge --ff-only
	alo = log --pretty='%C(yellow)%h%Creset%d %Cblue%s%Creset %C(cyan)%cn%Creset %Cgreen%cr%Creset' --graph
	alog = log --pretty='%C(yellow)%h%Creset%d %Cblue%s%Creset %C(cyan)%cn%Creset %Cgreen%cr%Creset' --graph
	aloga = log --all --pretty='%C(yellow)%h%Creset%d %Cblue%s%Creset %C(cyan)%cn%Creset %Cgreen%cr%Creset' --graph
	alogh = log master..HEAD --pretty='%C(yellow)%h%Creset%d %Cblue%s%Creset %C(cyan)%cn%Creset %Cgreen%cr%Creset' --graph
	alogm = log master --pretty='%C(yellow)%h%Creset%d %Cblue%s%Creset %C(cyan)%cn%Creset %Cgreen%cr%Creset' --graph
 # auc undo last commit to working area
	auc = reset --mixed HEAD~1
 # aus remove from staging, specify a file or .
	aus = reset HEAD
	arh = reset --hard
 # atp Show what would be pushed
	atp = log master..HEAD --pretty='%C(yellow)%h%Creset%d %Cblue%s%Creset %C(cyan)%cn%Creset %Cgreen%cr%Creset' --graph
 # ari rebase interactive
	ari = rebase --interactive --stat
	asqu = rebase --interactive --stat --autosquash --root
	aadd = add -A # add and look for renamed files
	apu = push
	pu = push
	asts = stash push --all
	astu = stash pop
	astl = stash list
[diff]
	algorithm = histogram
[help]
	autocorrect = 1
[core]
	autocrlf = false
	editor = notepad
	symlinks = true
[sequence]
	editor = notepad
[Rebase]
	missingCommitsCheck = error
 	instructionFormat = " |%d %s [%cn] (%cD)"
 	stat = true
[merge]
	algorithm = histogram
[push]
	default = matching
[branch]
	autosetuprebase = always
[gui]
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color "status"]
	header = blue
	added = green
	updated = "magenta ul bold"
	changed = green
	untracked = "blue normal ul"
	branch = "green ul"
	nobranch = red
	modified = red
	ui = true
	# normal, black, red, green, yellow, blue, magenta, cyan and white;
	# bold, dim, ul, blink and reverse.
##############################
# [Progressive]
#PG#[user]
#PG#	name = Tony Gray
#PG#	email = agray3@progressive.com
#PG#[merge]
#PG# 	tool = bc3
#PG#[diff]
#PG#	tool = bc3
#PG#[mergetool "bc3"]
#PG#	path = C:/Program Files (x86)/Beyond Compare 4/bcomp.exe
#PG#[difftool]
#PG#	prompt = false
#PG#[credential]
#PG##	interactive = never
#PG##	authority = Windows
#PG#	helper = wincred
#PG#[http]
#PG#	sslbackend = schannel
#PG#	schannelCheckRevoke=false

##############################
# [Home]
#HM#[user]
#HM#	name = Tony Gray
#HM#	email = grayts21@gmail.com
#HM##[mergetool "bc3"]
#HM##	path = C:\Program Files (x86)\WinMerge\WinMergeU.exe
#HM#[mergetool "extMerge"]
#HM#	trustExitCode = false
#HM#[difftool]
#HM#	prompt = false
